# 第七课 For, If及Functions函数

源文件下载链接: https://pan.baidu.com/s/1yuNlG6u9_C31fzhzbzqASA 提取码: ebrh

Functions in Python. A function is a set of statements that take inputs, do some specific computation and produces output. These functions are called user defined function

Function Definition

Positional and Keyword Arguments in Functions 位置参数(positional argument )和关键字参数(keyword argument)

In [8]:
num=12

if num%2==0:
    print("number is even偶数")
else:
    print("the number is odd奇数")

number is even偶数

In [6]:
def 奇偶函数even_odd(num):
    if num%2==0:
        print("number is even偶数")
    else:
        print("the number is odd奇数")

In [9]:
奇偶函数even_odd(num)

number is even偶数

In [10]:
#print vs return
def hello_world():
    print("Hello world!")

In [11]:
hello_world()

Hello world!

In [12]:
abc=hello_world()

Hello world!

In [13]:
print(abc)

None

In [14]:
def Hello_world():
    return "Hello world!!"

In [15]:
abc=Hello_world()

In [16]:
print(abc)

Hello world!!

In [17]:
abc

'Hello world!!'

In [18]:
def multiple_num(num1,num2):
    return num1*num2

In [19]:
abd=multiple_num(10,15)

In [20]:
abd

150

In [22]:
def hello(name,age=24):
    print("my name is {} and age is {}".format(name,age))

In [23]:
hello('BoB',27)

my name is BoB and age is 27

In [26]:
hello('Andy')

my name is Andy and age is 24

In [27]:
def Hello(*args,**kargs):
    print(args)
    print(kargs)

In [28]:
Hello("Bob","Chen",age=20,birthdate=2000)

('Bob', 'Chen')
{'age': 20, 'birthdate': 2000}

In [29]:
firstarg=["Bob","Chen"]
secondkarg={'age':20,'birthdate':2000}

In [30]:
Hello(firstarg,secondkarg)

(['Bob', 'Chen'], {'age': 20, 'birthdate': 2000})
{}

In [31]:
Hello(*firstarg,**secondkarg)

('Bob', 'Chen')
{'age': 20, 'birthdate': 2000}

In [32]:
## If conditions and for loops

lst=[1,2,3,4,5,6,7,8,9,10]

even_sum=0
odd_sum=0
for i in lst:
    if i%2==0:
        even_sum=even_sum+i
    else:
        odd_sum=odd_sum+i
print(even_sum,odd_sum)

30 25

In [34]:
def evenodd_sum(lst):
    even_sum=0
    odd_sum=0
    for i in lst:
        if i%2==0:
            even_sum=even_sum+i
        else:
            odd_sum=odd_sum+i
    return even_sum, odd_sum

In [35]:
evenodd_sum(lst)

(30, 25)

In [37]:
def add(num1,num2):
    return num1+num2

In [38]:
add(2,4)

6

In [40]:
def add_list(lst):
    sum1 =0
    for i in lst:
        print(i)
        sum1=sum1+int(i)
    return sum1

In [41]:
add_list([1,2,3,4,5,6])

1
2
3
4
5
6

21

In [42]:
input_num=list(input("Enter the list  "))

Enter the list  123456789

In [43]:
input_num

['1', '2', '3', '4', '5', '6', '7', '8', '9']

In [44]:
add_list(input_num)

1
2
3
4
5
6
7
8
9

45

# Lambda, Map Function

A function with no name

In [48]:
def add(num1,num2):
    return num1+num2

In [50]:
add(2,4)

6

In [51]:
lambda num1,num2:num1+num2

In [52]:
abplus=lambda num1,num2:num1+num2

In [53]:
abplus(2,3)

5

In [58]:
def even(num):
    if num%2==0:
        return True
    else:
        return False

In [60]:
even(2)

True

In [61]:
even1=lambda num:num%2==0

In [64]:
even1(3)

False

In [65]:
def add(a,b,c):
    return a+b+c

In [66]:
add(7,8,9)

24

In [67]:
add1=lambda a,b,c:a+b+c

In [68]:
add1(1,2,3)

6

In [99]:
def even_odd(num):
    if num%2==0:
        print("the number {} is even".format(num))
    else:
        print("the number {} is odd".format(num))

In [100]:
even_odd(23)

the number 23 is odd

In [106]:
lst=[1,2,3,4,5,6,23,25,78]

In [108]:
for i in lst:
    if i%2==0:
        print("the number {} is even".format(i))
    else:
        print("the number {} is odd".format(i))

the number 1 is odd
the number 2 is even
the number 3 is odd
the number 4 is even
the number 5 is odd
the number 6 is even
the number 23 is odd
the number 25 is odd
the number 78 is even

In [109]:
for i in lst:even_odd(i)

the number 1 is odd
the number 2 is even
the number 3 is odd
the number 4 is even
the number 5 is odd
the number 6 is even
the number 23 is odd
the number 25 is odd
the number 78 is even

In [80]:
map(even_odd,lst)

In [74]:
list(map(even_odd,lst))

['the number 1 is odd',
 'the number 2 is even',
 'the number 3 is odd',
 'the number 4 is even',
 'the number 5 is odd',
 'the number 6 is even',
 'the number 23 is odd',
 'the number 25 is odd',
 'the number 78 is even']