# 第二课 Python Data Structure数据结构

(1)Boolean

(2)Boolean and Logical Operators

(3)Lists序列函数

(4)Sets集合函数

(5)Dictionaries字典函数

(6)Tuples元组函数

### (1) Boolean

Boolean values are the two constant objects True and False.

In [1]:
False

False

In [2]:
True

True

In [5]:
print(True,False)

True False

In [6]:
type(True)

bool

In [7]:
type(False)

bool

In [20]:
mystr='Dr小明'

In [21]:
mystr.istitle()

True

In [31]:
mystr="this is test"

In [33]:
print(mystr.isalnum()) #check if all char or numbers
print(mystr.isalpha()) #check if all char in the string are alphabetic
print(mystr.isdigit()) #test if string contains digits
print(mystr.istitle()) #test if string contains title words
print(mystr.isupper()) #test if string contains upper case
print(mystr.islower()) #test if string contains lower case
print(mystr.isspace()) #test if string contains spaces
print(mystr.endswith('t')) #test if string endswith a d
print(mystr.startswith('t')) #test if string startswith H

False
False
False
False
False
True
False
True
True

In [35]:
print(mystr.endswith('t')) #test if string endswith t

True

### (2)Boolean and Logical Operators

In [36]:
True and True

True

In [37]:
True and False

False

In [38]:
True or False

True

In [39]:
True or True

True

In [43]:
str_example='Hello World'
my_str='小明'

In [41]:
str_example.isalnum()

False

In [44]:
my_str.isalpha()

True

In [45]:
my_str.isalpha() or str_example.isalnum()

True

### (3)Lists序列函数

序列是Python中最基本的数据结构。序列中的每个元素都分配一个数字代表它的位置及索引，第一个索引是0，第二个索引是1，依此类推。

序列（list）是最常用的Python数据类型，它可以作为一个方括号内的逗号分隔值出现。

创建一个序列，只要把逗号分隔的不同的数据项使用方括号括起来即可.

A list is a data structure in Python that is a mutable, or changeable, ordered sequence of elements. Each element or value that is inside of a list is called an item. Just as strings are defined as characters between quotes, lists are defined by having values between square brackets [ ]

In [46]:
type([])

list

In [47]:
lst_example=[]

In [48]:
type(lst_example)

list

In [49]:
lst=list([])

In [50]:
type(lst)

list

In [58]:
lst=['Mathematics', 'chemistry', 100, 200, 300, 400]

In [52]:
lst[0],lst[1],lst[2],lst[3],lst[4],lst[5]

('Mathematics', 'chemistry', 100, 200, 300, 400)

In [54]:
type(lst[3])

int

In [55]:
type(lst[1])

str

In [56]:
len(lst)

6

In [57]:
type(lst)

list

### Append添加函数

In [59]:
lst.append("Mike")

In [61]:
lst.append(["Apple","Orange"])

In [62]:
lst

['Mathematics', 'chemistry', 100, 200, 300, 400, 'Mike', ['Apple', 'Orange']]

In [63]:
lst[6]

'Mike'

In [64]:
lst[2:7] #列表中的第2个元素到第7个元素，注意：不包含第7个元素

[100, 200, 300, 400, 'Mike']

In [65]:
lst[7]

['Apple', 'Orange']

### Insert插入函数

In [66]:
lst[3]

200

In [67]:
lst.insert(3,"Jane") #列表中的第3个元素之情插入值

In [69]:
lst

['Mathematics',
 'chemistry',
 100,
 'Jane',
 200,
 300,
 400,
 'Mike',
 ['Apple', 'Orange']]

In [70]:
lst.append(["Hello","World"])

In [71]:
lst

['Mathematics',
 'chemistry',
 100,
 'Jane',
 200,
 300,
 400,
 'Mike',
 ['Apple', 'Orange'],
 ['Hello', 'World']]

In [72]:
lst=[1,2,3]

In [73]:
lst.append([4,5])

In [74]:
lst

[1, 2, 3, [4, 5]]

### Extend扩展函数

In [78]:
lst=[1,2,3,4,5,6]

In [76]:
lst.extend([7,8])

In [77]:
lst

[1, 2, 3, 4, 5, 6, 7, 8]

In [79]:
lst.append([7,8])

In [80]:
lst

[1, 2, 3, 4, 5, 6, [7, 8]]

### List多种操作

In [83]:
lst=[1,2,3,4,5]

In [82]:
sum(lst)

15

In [84]:
lst*5

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

### Pop函数

In [85]:
lst

[1, 2, 3, 4, 5]

In [86]:
lst.pop()

5

In [87]:
lst

[1, 2, 3, 4]

In [88]:
lst.pop(0)

1

In [89]:
lst

[2, 3, 4]

In [90]:
lst

[2, 3, 4]

In [92]:
lst.pop(1)

3

In [93]:
lst

[2, 4]

### Count函数:Calculates total occurrence of given element of List计算序列中值的出现次数

In [94]:
lst=[1,2,3,3,4,5]
lst.count(3)

2

In [95]:
#length:Calculates total length of List
len(lst)

6

In [98]:
# index(): Returns the index of first occurrence. Start and End index are not necessary parameters
lst.index(3,3,5)

3

In [99]:
##Min and Max
min(lst)

1

In [100]:
max(lst)

5

### (4)Sets集合函数

创建一个无序不重复元素集,可进行关系测试,删除重复数据,还可以计算交集、差集、并集等

In [101]:
## Defining an empy set

set_var= set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [169]:
set_var={1,2,9,4,3,6,3,4}

In [167]:
set_var={}

In [170]:
type(set_var)

set

In [160]:
set_var={'apple','banana','cherry'}

In [161]:
set_var

{'apple', 'banana', 'cherry'}

In [162]:
set_var={"Apple","Banana","Cherry"}
print(set_var)
type(set_var)

{'Apple', 'Cherry', 'Banana'}

set

In [105]:
## Inbuilt function in sets

set_var.add("Pear")

In [106]:
print(set_var)

{'Apple', 'Pear', 'Cherry', 'Banana'}

In [110]:
set1={"Apple","Banana","Cherry"}
set2={'Banana', 'Cherry', 'Apple', 'Pear'}

In [108]:
set2.intersection_update(set1)

In [109]:
set2

{'Apple', 'Banana', 'Cherry'}

In [111]:
##Difference 
set2.difference(set1)

{'Pear'}

In [112]:
set2

{'Apple', 'Banana', 'Cherry', 'Pear'}

In [113]:
## Difference update

set2.difference_update(set1)

In [114]:
set2

{'Pear'}

In [115]:
print(set2)

{'Pear'}

### (5)Dictionaries字典函数

Python字典是一种可变容器函数，且可存储任意类型对象，如字符串、数字、元组等其他容器模型。

字典由键和对应值成对组成。字典也被称作关联数组或哈希表

A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values.

In [165]:
dic={}

In [166]:
type(dic)

dict

In [118]:
type(dict())

dict

In [119]:
set_ex={1,2,3,4,5,4}

In [120]:
set_ex

{1, 2, 3, 4, 5}

In [122]:
type(set_ex)

set

In [123]:
## Let create a dictionary

car_dict={"Car1":"Audi", "Car2":"BMW","Car3":"Mercedes Benz"}

In [124]:
type(car_dict)

dict

In [125]:
##Access the item values based on keys

car_dict['Car1']

'Audi'

In [126]:
# We can even loop throught the dictionaries keys

for x in car_dict:
    print(x)

Car1
Car2
Car3

In [127]:
# We can even loop throught the dictionaries values

for x in car_dict.values():
    print(x)

Audi
BMW
Mercedes Benz

In [128]:
# We can also check both keys and values
for x in car_dict.items():
    print(x)

('Car1', 'Audi')
('Car2', 'BMW')
('Car3', 'Mercedes Benz')

In [129]:
## Adding items in Dictionaries

car_dict['car4']='Audi 2.0'

In [130]:
car_dict

{'Car1': 'Audi', 'Car2': 'BMW', 'Car3': 'Mercedes Benz', 'car4': 'Audi 2.0'}

In [131]:
car_dict['Car1']='Nisson'

In [133]:
car_dict

{'Car1': 'Nisson', 'Car2': 'BMW', 'Car3': 'Mercedes Benz', 'car4': 'Audi 2.0'}

### Nested Dictionary嵌套字典

In [135]:
car1_model={'Mercedes':1960}
car2_model={'Audi':1970}
car3_model={'Toyota':1980}

car_type={'car1':car1_model,'car2':car2_model,'car3':car3_model}

In [137]:
car_type

{'car1': {'Mercedes': 1960}, 'car2': {'Audi': 1970}, 'car3': {'Toyota': 1980}}

In [138]:
## Accessing the items in the dictionary

car_type['car1']

{'Mercedes': 1960}

In [139]:
print(car_type['car1']['Mercedes'])

1960

In [140]:
(car_type['car1']['Mercedes'])

1960

### (6)Tuples元组函数

Python的元组与列表类似，不同之处在于元组的元素不能修改。

元组使用圆括号，列表使用方括号。

元组创建很简单，只需要在括号中添加元素，并使用逗号隔开即可

In [141]:
## create an empty Tuples

my_tuple=tuple()

In [142]:
type(my_tuple)

tuple

In [143]:
my_tuple=()

In [144]:
type(my_tuple)

tuple

In [151]:
my_tuple=("Apple","Banana","Cherry","Apple")

In [146]:
my_tuple

('Apple', 'Banana', 'Cherry', 'Apple')

In [147]:
my_tuple=('Hello','World')

In [148]:
print(type(my_tuple))
print(my_tuple)

<class 'tuple'>
('Hello', 'World')

In [149]:
type(my_tuple)

tuple

In [152]:
my_tuple

('Apple', 'Banana', 'Cherry', 'Apple')

In [153]:
## Inbuilt function
my_tuple.count('Apple')

2

In [154]:
my_tuple[2]

'Cherry'

In [155]:
type(my_tuple)

tuple

In [156]:
my_tuple.index('Cherry')

2